<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>society</display-name>
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>login.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>noticeServlet</servlet-name>
    <servlet-class>notice.noticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeServlet</servlet-name>
    <url-pattern>/notice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivitySevrlet</servlet-name>
    <servlet-class>activity.ActivitySevrlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivitySevrlet</servlet-name>
    <url-pattern>/activity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindacitivitybythemeServlet</servlet-name>
    <servlet-class>activity.FindacitivitybythemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindacitivitybythemeServlet</servlet-name>
    <url-pattern>/FindactivityBytheme</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>commentServlet</servlet-name>
    <servlet-class>activity.commentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InformationServlet</servlet-name>
    <servlet-class>information.InformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationServlet</servlet-name>
    <url-pattern>/information</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Application_cacheServlet</servlet-name>
    <servlet-class>information.Application_cacheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Application_cacheServlet</servlet-name>
    <url-pattern>/application_cache</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JoinServlet</servlet-name>
    <servlet-class>information.JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinServlet</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PcenterServlet</servlet-name>
    <servlet-class>pcenter.PcenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PcenterServlet</servlet-name>
    <url-pattern>/pcenter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Activity_cacheServlet</servlet-name>
    <servlet-class>registered.Activity_cacheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activity_cacheServlet</servlet-name>
    <url-pattern>/activity_cache</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActiappServlet</servlet-name>
    <servlet-class>registered.ActiappServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiappServlet</servlet-name>
    <url-pattern>/actiapp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplicationServlet</servlet-name>
    <servlet-class>registered.ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationServlet</servlet-name>
    <url-pattern>/application</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisteredServlet</servlet-name>
    <servlet-class>registered.RegisteredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteredServlet</servlet-name>
    <url-pattern>/registered</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownServlet</servlet-name>
    <servlet-class>registered.DownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownServlet</servlet-name>
    <url-pattern>/down</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpServlet</servlet-name>
    <servlet-class>registered.UpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpServlet</servlet-name>
    <url-pattern>/up</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BindexServlet</servlet-name>
    <servlet-class>backstage.BindexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BindexServlet</servlet-name>
    <url-pattern>/b_index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BnoticeServlet</servlet-name>
    <servlet-class>backstage.BnoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BnoticeServlet</servlet-name>
    <url-pattern>/b_notice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BregisterServlet</servlet-name>
    <servlet-class>backstage.BregisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BregisterServlet</servlet-name>
    <url-pattern>/b_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetActivityServlet</servlet-name>
    <servlet-class>backstage.GetActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActivityServlet</servlet-name>
    <url-pattern>/getactivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgreeServlet</servlet-name>
    <servlet-class>backstage.AgreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgreeServlet</servlet-name>
    <url-pattern>/agree</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisagreeServlet</servlet-name>
    <servlet-class>backstage.DisagreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisagreeServlet</servlet-name>
    <url-pattern>/disagree</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MoreinformationServlet</servlet-name>
    <servlet-class>backstage.MoreinformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoreinformationServlet</servlet-name>
    <url-pattern>/moreinformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetmessageServlet</servlet-name>
    <servlet-class>backstage.GetmessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetmessageServlet</servlet-name>
    <url-pattern>/getmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BmessageServlet</servlet-name>
    <servlet-class>backstage.BmessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BmessageServlet</servlet-name>
    <url-pattern>/b_message</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>